---
import aboutImg from "@/assets/about-astro.png";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	description: "Maybe sometimes in the future i will complete this page",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			<span id="my-age"></span>
		</p>
	</div>
</PageLayout>

<script>
	function calculateAge(birthDate: Date): number {
		const today = new Date();
		const birth = new Date(birthDate);
		let age = today.getFullYear() - birth.getFullYear();

		if (
			today.getMonth() < birth.getMonth() ||
			(today.getMonth() === birth.getMonth() && today.getDate() < birth.getDate())
		) {
			age--;
		}

		return age;
	}

	const myBirthdate = new Date("2004-04-17"); // Format: YYYY-MM-DD
	const myAge = calculateAge(myBirthdate);
	const myAgeSpan = document.getElementById("my-age");
	if (myAgeSpan) {
		myAgeSpan.innerText = myAge.toString();
	}
</script>
