@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* html {
  color: rgb(var(--foreground-rgb));
  background: black;
} */


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
  /* background: linear-gradient(0, var(--background-start-rgb) 0%, rgba(8,10,50,1) 15%, rgba(2,0,36,1) 39%, var(--background-end-rgb) 100%);} */

.bg-body {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}}

*,
*::after,
*::before {
  font-family: inherit;
}

table {
  @apply table-auto;
}

p, h1, h2, h3,h4,h5,h6, span {
  @apply backdrop-blur
}

.back-in-up {
  animation: back-in-up-animation 1s ease-in-out 0s 1 normal both running;
}

@keyframes back-in-up-animation {
  0% {
      transform: translate(0px, 1200px) scale(0.7);
      opacity: 0.7;
  }

  80% {
      transform: translate(0px, 0px) scale(0.7);
      opacity: 0.7;
  }

  100% {
      transform: translate(0px, 0px) scale(1);
      opacity: 1;
  }
}
